<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>435272113514-7599hq62o9preudp0bge6hk5v5n350oa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.435272113514-7599hq62o9preudp0bge6hk5v5n350oa</string>
	<key>API_KEY</key>
	<string>AIzaSyCfDtga-sO2csjLe4U0UZ-rRw261yAdius</string>
	<key>GCM_SENDER_ID</key>
	<string>435272113514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>test.firebaseTest</string>
	<key>PROJECT_ID</key>
	<string>fir-test-62ad9</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-test-62ad9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:435272113514:ios:a1dff26b8fdfc0b8245913</string>
	<key>DATABASE_URL</key>
	<string>https://fir-test-62ad9.firebaseio.com</string>
</dict>
</plist>